/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); */

/* .nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }   */
  
.noto-sans {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "나눔 고딕", "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #f5f5f5;
    height: 100%;
    display: block;
}

.header * {
    font-family: "Noto Sans KR","Sans-serif";
    margin: 0;
    padding: 0;
    line-height: 1;
}

.footer * {
    font-family: "Noto Sans KR","Sans-serif";
}

*::before {
    box-sizing: border-box;
}

.header {
    margin-bottom: 20px;
    min-width: 1080px;
}

header.header .header-service-nav {
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
    display: flex;
}

.header .base-nav {
    width: 100%;
    min-height: 65px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}


.header .header-service-nav .container{
    display: flex;
}

header.header .container {
    width: 1080px;
}

.container::before {
    content: " ";
    display: table;
    line-height: 0;
}

.partners-list, .container {
    margin-left: auto;
    margin-right: auto;
}

.header .header-service-nav .btn-service-link {
    display: flex;
    gap: 4px;
    cursor: pointer;
}

img {
    vertical-align: middle;
    border: 0;
}

.header .header-service-nav .service-name {
    line-height: 20px;
    /* width: 100%; */
}

.service-name {
    font-size: 12px;
    font-weight: 400;
}

.header .header-service-nav .divider {
    width: 1px;
    height: 12px;
    background-color: #eee;
    margin: 3px 12px 0px 12px;
}

.menu-inactive {
    margin-right: 4px;
}

.menu-active {
    display: none;
}

.service-name2 {
    color: #9e9e9e;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

header.header a {
    text-decoration: none;
    color: #212121;
}

header.header .base-nav .nav-logo-wrapper {
    width: 77px;
    padding: 20px 0;
    float: left;
    margin-right: 24px;
    font-size: 18px;
    line-height: 20px;
    text-indent: -9999em;
    box-sizing: border-box;
    background-size: 80px 20px;
}

header.header .base-nav .nav-logo-wrapper .nav-logo {
    width: 100%;
    height: 24px;
    background-image: url(https://www.wishket.com/static/renewal/img/global/wishket_logo.svg);
}

header.header .base-nav .left-nav {
    display: flex;
    gap: 4px;
    float: left;
}

header.header .base-nav .left-nav .left-nav-menu {
    padding: 20px 12px;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
}


#how-to-use, #after-use {
    padding-right: 8px;
}

div .img-container {
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.nav-divider {
    margin: 25px 4px 0 4px;
    height: 14px;
    border-left: 1px solid #e0e0e0;
    display: block;
    float: left;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 64px;
    position: relative;
}

.log-in-section {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
}

.sign-up-button {
    margin-left: 12px;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    border-radius: 8px;
    color: #fff;
    background: linear-gradient(180deg, #5db6d4, #369cc2 100%);
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.sign-up-button:hover {
    box-shadow: 0 8px 8px -6px rgba(0,127,167,.32);
}

#main-wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -250px;
    padding: 0 0 300px;
    min-width: 1080px;
}



#main-wrap .main-container {
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
    height: auto;
}

.main-container::before, .main-container::after, .main-page::before, .content-header::before {
    content: " ";
    display: table;
    line-height: 0;
}

#messages {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 1060px;
}

.main-page {
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
}

.main-content {
    border-radius: 3px;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 1060px;
}

.content-header {
    /* width: 1080px;
    height: 119px; */
    width: 1019px;
    height: 59px;
    border-radius: 2px !important;
    margin: 0;
    margin-bottom: 5px;
    padding: 30px;
    background-color: #fff;
    border-bottom-width: 2px;
    border: 1px solid #dedede
}

.store-header-box {
    display: inline-block;
}

.store-big-text {
    height: 23px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    color: #555;
    margin-top: 0;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 10px;
    font-family: inherit;
    text-rendering: optimizelegibility;
    margin: 1em 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display:block;
}

.store-small-text {
    height: 20px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #999;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.store-call-link {
    float: right;
}

a {
    color: #2099bb;
    text-decoration: none;
    background: transparent;
}

.store-call-box {
    padding: 6px 17px;
    border-radius: 2px;
    border: solid 1px #dedede;
    background-color: #fff;
    float: right;
    position: relative;
    top: 8px;
}

.store-call-image {
    width: 24px;
    height: 24px;
    /* margin-right: 3px; */
}

img {
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.store-call-text {
    font-size: 14px;
    color: #2099bb;
    position: relative;
    top: 1px
}

.content-header::after {
    content: " ";
    display: table;
    line-height: 0;
}

.content-inner::before {
    content: " ";
    display: table;
    line-height: 0;
}

.store-main-contents {
    width: 1080px;
    border: solid 1px #dedede;
    background-color: #fff;
    border-radius: 2px;
}

.store-category-nav {
    display: inline-block;
    height: 57px;
}

section .search {
    float: none !important;
    width: auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px;
    margin-right: 21px;
    text-align: right;
    display: block;
}

ul {
    padding: 0;
    margin: 1em 0;
    list-style-type: disc;
}

.store-category-nav ul {
    box-sizing: border-box;
    margin-left: 21px;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 44px;
    width: 1038px;
    border-bottom: 2px solid #2099bb;
    
}

.store-category-nav .active-list {
    cursor: inherit;
    margin-left: -1px;
    border-top: 2px solid #2099bb !important;
    border-left: 2px solid #2099bb !important;
    border-right: 2px solid #2099bb !important;
    border-bottom-width: 0;
    background-color: #fff !important;
    height: 42px;
    font-size: 13px;
}


.store-category-nav .active-list a {
    color: #535353;
    font-weight: bold;
    border: none !important;
    background-color: #fff;
    padding-bottom: 10px;
    display: inline-block;
    line-height: 15px;
    text-decoration: unset;
    padding: 11px 19px 13px 20px;
    border-radius: 2px 2px 0 0;
}

.store-category-nav li {
    cursor: inherit;
    display: block;
    height: 42px;
    font-size: 13px;
    line-height: 23px;
    background-color: #fafafa;
    border-bottom: solid 2px #2099bb;
    color: #535353;
    float: left;
    font-size: 13px;
}

.store-category-nav li>a {
    display: inline-block;
    color: #535353;
    line-height: 15px;
    text-decoration: unset;
    padding: 11px 19px 13px 20px;
    border-right: solid 1px #dedede;
    border-top: solid 1px #dedede;
    border-radius: 2px 2px 0 0;
}

.search-container {
    float: none !important;
    width: auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px;
    margin-right: 21px;
    text-align: right;
    display: block;
}

.search-form {
    margin-bottom: 0;
}

form {
    margin: 0;
}

.search-form-group:first-child {
    margin-left: 0;
}

.search-form-group {
    display: inline-block;
    margin-bottom: 0;
}

.store-search-box {
    width: 143px;
    height: 23px;
    padding: 5px;
    font-size: 12px;
    line-height: 12px;
    color: #333;
    border-radius: 2px;
    border: solid 1px #dedede;
    background-color: #feffff;
}

input {
    overflow: visible;
    font-family: inherit;
    margin: 0;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

input[type=submit] {
    cursor: pointer;
}

.store-search-btn {
    width: 45px;
    height: 26px;
    border-radius: 2px;
    border: solid 1px #1c87a5;
    background-color: #2099bb;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #fff;
}

.store-list-box {
    width: 998px;
    height: 166px;
    padding: 20px;
    margin: 0 auto 5px auto;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #dedede;
    background-color: #fff;
    border: 1px solid #dedede;
}

.store-list-box:hover{
    border: 1px solid #2099bb;
}

.lowest-price-img {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 47px;
    right: 21px;
    bottom: 21px;
}

.product-name-link {
    font-size: 18px;
    font-weight: bold;
    color: #2099bb;
    margin-bottom: 9px;
    text-decoration: none;  
    line-height: 18px;
}

.product-category {
    display: inline-block;
    font-weight: bold;
    color: #454545;
    font-size: 14px;
}

.base-info-splitter {
    color: #dedede;
    font-size: 14px;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    font-weight: normal;
}

.product-alliance {
    display: inline-block;
    font-weight: bold;
    color: #454545;
    font-size: 14px;
}

.prodcut-description-text {
    font-size: 13px;
    color: #666;
}

p {
    margin: 0 0 10px;
}

.product-short-description-text {
    margin-bottom: 0;
    font-size: 13px;
    color: #333;
    line-height: 19px;
}

.product-right-part-wrap {
    float: right;
    height: 170px;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-right: -20px;
    /* width: 190px; */
    width: 148px;
    padding: 20px;
    border-left: 2px dashed #dedede;
    position: relative;
}

.product-right-part-top {
    width: 100%;
    height: 45px;
    position: relative; 
}

.product-right-part-middle {
    width: 100%;
    height: 80px;
    position: relative;
}

.product-right-part-middle-inner {
    position: absolute;
    top: 2px;
    height: 40px;
    display: table;
    width: 100%;
}

.product-right-part-text {
    line-height: 1.6;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #454545;
}

.btn {
    color: #fff;
    background-color: #2099bb;
    border-color: #1c87a5;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 2px;
    user-select: none;
}

.pagination-wrapper {
    text-align: center;
    height: 100%;
}

.pagination-wrapper:before, .pagination-wrapper:after {
    content: " ";
    display: table;
    line-height: 0;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 10px 0;
    vertical-align: top;
}

.pagination>li {
    display: inline;
}

.pagination>li:first-child>span {
    margin-left: 0;
}

.pagination>.active>span {
    z-index: 2;
    color: #2099bb;
    cursor: default;
}

.pagination>li>span {
    position: relative;
    float: left;
    padding: 4px 8px;
    line-height: 20px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,Sans-Serif;
    text-decoration: none;
}

.pagination>li>a {
    position: relative;
    float: left;
    padding: 4px 8px;
    line-height: 20px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,Sans-Serif;
    text-decoration: none;
    color: #999;
    margin-left: 10px;
}

.arrow-right {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.request-store-in-box {
    width: 100%;
    margin-top: 40px;
    background-color: #fff;
    height: 100px;
    box-sizing: border-box;
}

.request-store-in-text {
    cursor: pointer;
    border: 1px solid #2099bb;
    height: 36px;
    padding: 32px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #454545;
    line-height: 34px;
}

.down-arrow {
    float: right;
    font-size: 42px;
    margin-top: -5px;
}

footer {
    display: block;
}

footer * {
    font-family: "NotoSansKR","Sans-serif";
}

.footer {
    min-width: 1080px;
    background-color: #f5f5f5;
    margin-top: 64px;
}

.footer-container {
    padding: 0 0 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
}

.footer-service-menu-list {
    display: flex;
    align-items: center;
    padding: 16px 0px;
    margin: 0 auto;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    justify-content: space-between;
}

.footer-service-menu {
    display: flex;
}

.footer-company-sns {
    display: flex;
    float: right;
    align-items: center;
}

.footer-service-menu-title {
    font-size: 14px;
    line-height: 24px;
    color: #616161;
    font-weight: bold;
    width: 99px;
    margin-right: 16px
}

.footer-service-menu-item {
    font-size: 13px;
    line-height: 20px;
    color: #616161;
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.footer a {
    text-decoration: none;
}

.footer-service-menu-item>img {
    margin-right: 4px
}

.sns-icon {
    display: inline-flex;
    border: 1.2px solid #e0e0e0;
    padding: 7px;
    border-radius: 32px;
    height: 32px;
    width: 32px;
    box-sizing: border-box;
}

.footer-company-sns a+a {
    margin-left: 16px;
}

.footer-main {
    padding-bottom: 32px;
    margin-top: 32px;
}

/* .footer-menu-list {
    width: 292px;
    /* margin-right: 48px; */
    /* float: left; */
/* }  */

.footer-menu-title {
    display: flex;
    margin-bottom: 4px;
    gap: 4px;
    font-size: 14px;
    line-height: 24px;
    color: #616161;
    font-weight: bold;
}

.footer-cs-tel {
    font-size: 24px;
    line-height: 36px;
    color: #616161;
    font-weight: bold;
}

.footer-cs-info {
    margin-top: 8px;
}

.footer-cs-item {
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    color: #616161;
}

.footer-cs-subitem {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: #9e9e9e;
    margin-left: 6px;
    margin-bottom: 4px;
}


.footer-menu-item {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    display: block;
    color: #616161;
}

p {
    margin: 0 0 10px;
}

.footer-menu-list {
    float: left;
    width: 185px;
}

a.footer-menu-title {
    display: flex;
    align-items: center;
}

a.link-title::after {
    content: "";
    display: inline-block;
    background-size: 12px 12px;
    margin-left: 2px;
    height: 12px;
    width: 12px;
    background-image: url(https://www.wishket.com/static/renewal/img/global/btn-icon-footer-go-xs-normal.png);
}

.footer-service-policy {
    display: inline-flex;
    align-items: center;
    margin-top: 8px;
}

.footer-service-policy-item {
    font-size: 13px;
    line-height: 20px;
    color: #616161;
}

.footer-service-policy>.divider {
    margin: 0px 12px;
    width: 1px;
    height: 13px;
    background-color: #e0e0e0;
}

.footer-company-info {
    display: grid;
    grid-gap: 4px;
    padding-top: 12px;
}

.footer-company-info-list {
    display: flex;
    align-items: center;
}

.footer-company-info-item {
    font-size: 12px;
    line-height: 18px;
    color: #9e9e9e;
}

.footer-company-info-list>.divider {
    width: 1px;
    height: 12px;
    background-color: #e0e0e0;
    margin: 0px 8px;
}

.footer-company-info-copyright {
    margin-top: 12px;
    font-size: 12px;
    line-height: 18px;
    color: #9e9e9e;
}

.footer-main>.footer-tel-menu {
    width: 292px;
    margin-right: 48px;
    float: left;
}

.footer-menu-list>p {
    margin-bottom: 12px;
}

.footer-menu-list>a {
    margin-bottom: 10px;
    width: auto;
}

.footer-menu-list>a:hover, .footer-service-policy>.footer-service-policy-item:hover {
    text-decoration: underline;
}

a.footer-cs-tel:hover {
    text-decoration: none;
}

.sns-icon:hover {
    background-color: #eee;
    cursor: pointer;
}