html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 100%;
}
    
html {
    font-family: sans-serif;
}

html {
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

:root {
    view-transition-name: root;
}

html {
    display: block;
}

* {
    box-sizing: border-box;
}

head {
    display: none;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, button, input, select, textarea {
    font-family: sans-serif;
}

html {
    -webkit-text-size-adjust: 100%;
}


* {
    box-sizing: border-box;
}

meta {
    display: none;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
    font-family: sans-serif;
}

html {
    -webkit-text-size-adjust: 100;
}

