@font-face {
    font-family: "NotoSansKR";
    src: url('fonts/NotoSansKR-Regular.woff2') format('woff2');
}

a {
    text-decoration: none;
    color: #212121;
}

html {
    height: 100%;
    font-size: 16px; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'NotoSansKR',Sans-serif;
    line-height: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

@media (min-width: 729px) {
    .list-cover {
        width: 720px;
        margin: 0 auto;
    }
}


@media (min-width: 729px) {
    .list-item-link {
        display: inline-block;
    }
}

.list-cover .list-item-link {
    opacity: 0;
    transition: opacity .3s ease-in-out,top .3s ease-in-out;
    position: relative;
    top: 50px; 
}

.list-cover .list-item-link.list-item-show {
    opacity: 1;
    position: relative;
    top: 0px;
}

@media (min-width: 729px) {
    .list-cover .list-item {
        margin-bottom: 32px;
        padding-bottom: 32px;
    }
}

.list-cover .list-item {
    width: 100%;
    border-bottom: solid 1px #eee;
}

.flex-box {
    display: flex;
    align-items: center;
}

@media (min-width: 729px) {
    .list-cover .list-item .list-item-box {
        margin-bottom: 8px;
    }
}

.link-text {
    font-weight: 500;
    color: inherit !important;
}

.link-text {
    text-decoration: none;
    color: #3ba3c7;
    display: inline-block; 
}

.text900 {
    color: #212121;
}

@media (min-width: 729px) {
    .list-cover .list-item .item-main {
        width: 570px;
        margin-right: 48px;
    }
}

.list-cover .list-item .item-main {
    display: inline-block;
}

.link-text.card-title, .link-text.item-title {
    display: block;
}

@media (min-width: 729px) {
    .list-cover .list-item .item-main .item-title {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 8px;
    }
}

.content-meta {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    color: #424242;
}

.mr-4 {
    margin-right: 4px !important;
}

.content-meta .content-meta-elem {
    display: inline-block;
    line-height: 20px;
    margin-right: 8px;
}

.content-meta .content-meta-elem.meta-icon {
    width: 16px;
    height: 16px;
}

.content-meta .content-meta-elem.content-meta-sep {
    width: 1px;
    color: #e0e0e0;
}

@media (min-width: 729px) {
    .list-cover .list-item .item-main .item-description {
        margin-top: 8px;
    }
}

.list-cover .list-item .item-main .item-description {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #757575;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (min-width: 729px) {
    .list-cover .list-item .item-thumbnail-pc {
        display: inline-block;
        vertical-align: top;
        height: 106px;
    }
}

@media (min-width: 729px) {
    .list-cover .list-item .item-thumbnail-pc .thumbnail-image {
        width: 106px;
        height: 106px;
        border-radius: 12px;
        border: solid 1px #e0e0e0;
        object-fit: cover;
    }
}

@media (min-width: 729px) {
    .list-cover .list-item .author-box {
        width: 570px;
        height: 40px;
    }
}

.author-info .author-image {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border: solid 1px #e0e0e0;
    border-radius: 10px;
}

.author-info .author-name {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #9e9e9e;
}

.link-underline-text {
    cursor: pointer;
}

.text400 {
    color: #9e9e9e;
}

.btn-wrapper {
    display: flex;
    position: relative;
    width: max-content;
    border-radius: 8px;
}

button {
    border: none;
    background: none; 
}

.btn-action {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.btn-wrapper .action-tooltip {
    opacity: 0;
    transition: all .4s ease-in-out;
    cursor: default;
    position: absolute;
    width: max-content;
    color: #fff;
    background-color: #212121;
    border-radius: 6px;
    padding: 2px 6px;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
}

.btn-wrapper .action-tooltip.bottom-action {
    top: -24px;
    left: 50%;
    transform: translate(-50%, 16px);
}

.btn-wrapper .action-tooltip.bottom-action:after {
    border-top: 4px solid #212121;
    border-left: 3px solid rgba(0,0,0,0);
    border-right: 3px solid rgba(0,0,0,0);
    border-bottom: 4px solid rgba(0,0,0,0);
    content: "";
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
}

@supports (-webkit-appearance: none) {
    .btn-wrapper .action-tooltip.bottom-action:after {
        top: 17px;
    }
}

