.caption-1,#profile_image_edit_modal .modal__body .modal-info-body .base-dot-list .dot-line,.caption-1-bold,.caption-1-medium,.caption-1-light {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400
}
